@charset "utf-8";
@font-face {
    font-family:"Mont Heavy DEMO";
    src:url("../font/font/Mont-HeavyDEMO.eot?") format("eot"),url("../font/Mont-HeavyDEMO.woff") format("woff"),url("../font/Mont-HeavyDEMO.ttf") format("truetype"),url("../font/Mont-HeavyDEMO.svg#Mont-HeavyDEMO") format("svg");
    font-weight: normal; font-style: normal;
}
@font-face {
    font-family:"Mont ExtraLight DEMO";
    src:url("../font/Mont-ExtraLightDEMO.eot?") format("eot"),url("../font/Mont-ExtraLightDEMO.woff") format("woff"),url("../font/Mont-ExtraLightDEMO.ttf") format("truetype"),url("../font/Mont-ExtraLightDEMO.svg#Mont-ExtraLightDEMO") format("svg");
    font-weight: normal; font-style: normal;
}
/* montserrat_light */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');




#section {
    overflow: hidden;
}
/* 아티클1---------------------------------------------------------------------------------------------------------------------------- */
.dis_article1 {
    padding-top: 118px;
}
.dis_article1_inner {
    position: relative;
    padding: 156px 0px 0px 84px;
}
/* 아티클1 메인 내용---------------------------------------------------------------------------------------------------------------------------- */
.dis_article1_inner .dis_article1_content {
    width: 719px;
    padding: 495px 0px 0px 0px;
}
/* 아티클1 홀리 로고 */
.dis_article1_inner .dis_article1_logo_img {
    width: 100px; height: 100px;
}
.dis_article1_inner .dis_article1_logo_img img {
    width: 100%; height: 100%;
}
/* 아티클1 어플리케이션 문구 제목 */
.dis_article1_inner .dis_article1_content span {
    display: inline-block;
    font-family: 'Montserrat', sans-serif; font-size: 1.6rem; line-height: 30px;
    margin: 40px 0px 10px 0px;
}
/* 아티클1 delivery 제목 */
.dis_article1_inner .dis_article1_content h3 {
    width: 207.5px;
    font-family: 'Mont-HeavyDEMO'; font-size: 4rem; line-height: 36px;
    padding-bottom: 20.5px; margin-bottom: 36.5px;
    border-bottom: 5px solid #0086ff;
}
/* 아티클1 메인페이지 설명 */
.dis_article1_inner .dis_article1_content p {
    font-size: 1.6rem; line-height: 24px;
    margin-bottom: 137px;
}
/* 아티클1 우측 모니터이미지 */
.dis_article1_inner .dis_article1_img {
    position: absolute; top: 153px; right: 0px;
    width: 714px; height: 550px;
}
.dis_article1_inner .dis_article1_img img {
    width: 100%; height: 100%;
}




/* 아티클2---------------------------------------------------------------------------------------------------------------------------- */
.dis_article2 {
    background: #fafafa;
}
.dis_article2_inner {
    position: relative;
    padding: 140px 84px 130px 84px;
}
/* 아티클2 타이틀 제목 + 내용 */
.dis_article2_inner .dis_article2_title h2 {
    font-family: 'Mont-HeavyDEMO'; font-size: 3.6rem; line-height: 32px;
}
.dis_article2_inner .dis_article2_title p {
    font-family: 'Mont-HeavyDEMO'; font-size: 1.6rem; line-height: 24px;
    margin: 19px 0px 123px 0px;
}
/* 아티클2 색 + 폰트----------------------------------------------------------------------------------------------------- */
/* 공통내용 */
.dis_article2_inner .dis_article2_content .color {
    float: left;
    width: 60%; height: 153px;
}
.dis_article2_inner .dis_article2_content .dis_font {
    float: right;
    width: 291px;
    margin-right: 49px;
}
.dis_article2_inner .dis_article2_content > div h3 {
    font-family: 'Mont-HeavyDEMO'; font-size: 2.4rem; line-height: 21px;
}
/* 색깔 */
.dis_article2_inner .dis_article2_content ul li {
    float: left;
    margin: 12px 10px 0px 0px;
    width: 75px;
}
.dis_article2_inner .dis_article2_content ul li div {
    display: inline-block;
    width: 75px; height: 65px;
    margin-bottom: 17px;
}
.dis_article2_inner .dis_article2_content ul .one div {
    background: #0086FF;
}
.dis_article2_inner .dis_article2_content ul .two div {
    background: #74E1D1;
}
.dis_article2_inner .dis_article2_content ul .three div {
    background: #A3D3FF;
}
.dis_article2_inner .dis_article2_content ul .four div {
    background: #002D40;
}
.dis_article2_inner .dis_article2_content ul .five div {
    background: #ED6A72;
}
.dis_article2_inner .dis_article2_content ul li p {
    text-align: center;
    font-size: 1.6rem; line-height: 19px;
}
/* 폰트------------------------------------------------------------------------------------------------------------ */
/* 폰트 제목 */
.dis_article2_inner .dis_article2_content .dis_font h3 {
    margin-bottom: 12px;
}
/* 공통 내용 */
.dis_article2_inner .dis_article2_content .dis_font > div > div {
    display: inline-block;
    vertical-align: top;
    margin-bottom: 25px;
}
.dis_article2_inner .dis_article2_content .dis_font .eng > div p:nth-child(1) {
    margin-bottom: 14px;
}
.dis_article2_inner .dis_article2_content .dis_font span {
    font-size: 1.8rem; line-height: 26px;
    margin-right: 20px;
}
.dis_article2_inner .dis_article2_content .dis_font p {
    font-size: 2rem; line-height: 26px;
}





/* 아티클3---------------------------------------------------------------------------------------------------------------------------- */
.dis_article3 {
    padding-top: 145px;
    position: relative;
    height: 844px;
    overflow: hidden;
}
.dis_article3_inner {
    padding: 0px 84px;
    position: relative;
    z-index: 99;
    width: 100%; height: 100%;
}
/* 아티클3 메인 내용---------------------------------------------------------------------------------------------------------------------------- */
.dis_article3_inner .dis_article3_content {
    text-align: center;
}
.dis_article3_inner .dis_article3_content h3 {
    font-family: 'Mont-HeavyDEMO'; font-size: 2.8rem; line-height: 25px;
    color: #0086FF;
}
.dis_article3_inner .dis_article3_content h2 {
    font-family: 'Mont-HeavyDEMO'; font-size: 3.6rem; line-height: 48px;
    margin: 17px 0px 35px 0px;
}
.dis_article3_inner .dis_article3_content p {
    font-size: 1.6rem; line-height: 24px;
    margin: 0px auto;
    width: 736px;
}
/* 아티클3 이미지---------------------------------------------------------------------------------------------------------------------------- */
.dis_article3_inner .dis_article3_img_box {
    width: 100%; height: 100%;
    margin-top: 141px;
}
.dis_article3_inner .dis_article3_img_box .img_point2 {
    width: 851px; height: 415px;
    position: absolute; bottom: 0px; left: 50%;
    transform: translateX(-50%);
}
.dis_article3_inner .dis_article3_img_box .img_point2 img {
    width: 100%;
}




/* 아티클4---------------------------------------------------------------------------------------------------------------------------- */
.dis_article4 {
    padding: 180px 0px 0px 0px;
    background: #002d40;
    height: 735px;
    overflow: hidden;
}
.dis_article4_inner {
    padding: 0px 84px 0px 84px;
    position: relative;
}
/* 아티클4 메인 내용---------------------------------------------------------------------------------------------------------------------------- */
.dis_article4_inner .dis_article4_content {
    position: absolute; right: 84px;
    padding-top: 80px;
    text-align: left;
    width: 396px;
}
.dis_article4_inner .dis_article4_content h3 {
    font-family: 'Mont-HeavyDEMO'; font-size: 2.8rem; line-height: 25px;
    color: #0086ff;
}
.dis_article4_inner .dis_article4_content h2 {
    padding: 17px 0px 35px 0px;
    font-size: 3.6rem; line-height: 48px;
    color: #fff;
}
.dis_article4_inner .dis_article4_content p {
    font-size: 1.6rem; line-height: 24px;
    color: #fff;
}
.dis_article4_inner .dis_article4_img {
    width: 400px; height: 1390px;
}
.dis_article4_inner .dis_article4_img img {
    width: 100%; height: 100%;
}





/* 아티클5---------------------------------------------------------------------------------------------------------------------------- */
.dis_article5 {
    padding: 141px 0px 140px 0px;
    position: relative;
}
.dis_article5_inner {
    padding: 0px 84px 0px 84px;
}
/* 아티클5 메인 내용---------------------------------------------------------------------------------------------------------------------------- */
.dis_article5_inner .dis_article5_content {
    float: left;
    position: absolute; top: 50%;
    transform: translateY(-50%);
    width: 396px;
}
.dis_article5_inner .dis_article5_content h3 {
    font-family: 'Mont-HeavyDEMO'; font-size: 2.8rem; line-height: 25px;
    color: #0086ff;
}
.dis_article5_inner .dis_article5_content h2 {
    font-size: 3.6rem; line-height: 48px;
    color: #000;
    padding: 17px 0px 35px 0px;
}
.dis_article5_inner .dis_article5_content p {
    font-size: 1.6rem; line-height: 24px;
}
.dis_article5_inner .dis_article5_img {
    float: right;
    width: 375px; height: 436px;
}
.dis_article5_inner .dis_article5_img img {
    width: 100%; height: 100%;
}













/* 아티클6---------------------------------------------------------------------------------------------------------------------------- */
.dis_article6 {
    position: relative;
    background: #fafafa;
}
.dis_article6_inner {
    width: 100%; height: 905px;
    margin: 0px auto;
    padding-top: 194px;
}
.dis_article6_inner .dis_article6_img {
    width: 1930px; height: 1675px;
    transform: rotate(-20deg);
    /* margin-left: -44px; */
}
.dis_article6_inner .dis_article6_img img {
    width: 100%; height: 100%;
}




/* 아티클7---------------------------------------------------------------------------------------------------------------------------- */
.dis_article7 {
    background: #0086ff;
    padding-bottom: 128px;
    height: 1092px;
}
